@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
* {
  margin: 0;
  padding: 0;
}
.Client {
  font-family: 'Noto Sans TC', sans-serif;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 5% 10% 1fr;
  grid-template-areas:
    'top'
    'menu'
    'main';
  overflow: hidden;
}
.ClientTop {
  grid-area: top;
  text-align: center;
}
.ClientTop img {
  height: 90%;
  margin-top: 5px;
}
#logo {
  width: 33vw;
  transform: translateX(-8%)
}
#side_btn {
  float: left;
  width: 8vw;
  margin-left: 3px;
  margin-top: 1px;
  cursor: pointer;
}
.cover {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  transition-property: opacity, transform;
  transition-duration: .3s;
}
#bill_btn {
  background: rgba(255,0,0,.5);
  position: fixed;
  left: 85%;
  width: 13vw;
  height: 13vw;
  cursor: pointer;
  border-radius: 50%;
  transition: top .2s
}
.bill_btn_active {
  top: 90%;
}
.bill_btn_deactive {
  top: 100%;
}
#side_toggle ,
#bill_toggle {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#side_toggle:checked ~ .cover {
  z-index: 100;
  opacity: .5;
}
#side_toggle:checked ~ .ClientTop,
#side_toggle:checked ~ .ClientMain,
#side_toggle:checked ~ .ClientMenu,
#side_toggle:checked ~ .cover {
  transform: translateX(70%);  
}
#side_toggle:checked ~ .ClientSide {
  width: 70vw;
}
#bill_toggle:checked ~ .ClientBill {
  transform: translateX(-100%);
}
.translateX-3 {
  transition: transform .3s;
}


.ClientMenu {
  grid-area: menu;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  text-align: center;
  overflow-y: hidden;
  overflow-x: scroll;
  border-bottom: 1px solid #CCC;
}
.ClientMenu > a {
  cursor: default;
  text-decoration: none;
  color: inherit;
}
.ClientMenu > a.active {
  pointer-events: none;
}
.ClientMenu > a > li {
  margin: .5vw;
  padding: 0 1vw;
  z-index: 2;
  border-radius: 5px;
}
.ClientMenu > a > li:active {
  opacity: .5;
  background: rgba(0,0,0,0.2);
}
.ClientMenu > a > li > img {
  width: 8vw;
  height: 8vw;
}
.ClientMenu > a > li > div {
  font-size: 2vh;
}


.ClientMain {
  grid-area: main;
  background: whitesmoke;
  padding: 1vh;
  overflow-y: scroll;
}
.ClientCombo,
.ClientFood {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: scroll;
}
.combo_container {
  border: 1px solid lightgray;
  width: 95%;
  height: 40vh;
  margin: 1vh auto;
}
.combo_container:active {
  opacity: .5;
}
.food_container {
  border: 1px solid lightgray;
  width: 32%;
  height: 26vh;
  margin: 1vh 0;
}
.food_container:active {
  opacity: .5;
}
.product_image {
  width: 100%;
  height: 60%;
  border-bottom: 1px solid lightgray;
}
.product_title {
  width: 96%;
  margin: 0 auto;
  padding-bottom: 3px;
  height: 10%;
  font-size: 1.9vh;
  font-weight: bold;
  padding-left: 1px;
  border-bottom: 1px solid lightgray;
  overflow: scroll;
}
.product_title::-webkit-scrollbar,
.product_detail::-webkit-scrollbar, 
.ClientFood::-webkit-scrollbar, 
.ClientCombo::-webkit-scrollbar {
  display: none;
}
.product_detail {
  width: 96%;
  height: 19%;
  margin: auto;
  margin-top: 5px;
  font-size: 1.5vh;
  overflow-y: scroll;
  color: gray;
}
.product_price {
  width: 100%;
  height: 5%;
}
.product_price span {
  padding-right: 5px;
  float: right;
  font-size: 1.5vh;
}
.food_container .product_title {
  font-size: 1.3vh;
  padding-bottom: 1px;
}
.food_container .product_detail {
  height: 19%;
  margin-top: 1px;
  font-size: 1.1vh;
}
.food_container .product_price span{
  font-size: 1.2vh;
}
.placeholder {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}


.ClientSide {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF;
  transition: width .3s;
  overflow: hidden;
}
.ClientSide > * {
  display: inline-block;
  width: 100%;
  font-size: 4vh;
  white-space: nowrap;
  color: #444;
}
#side_logo {
  display: block;
  width: 20vw; 
  margin: 2vh auto;
}
.ClientSide > h3 {
  text-align: center;
  font-size: 4vh;
}
.ClientSide > ul {
  font-size: 3vh;
  margin-top: 2vh;
  height: 67vh;
}
.ClientSide > ul > li {
  text-align: center;
  padding-top: 1vh;
  border-top: 1px solid lightgray;
}
#login_toggle {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.login_panel {
  background: white;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height .3s;
}
#login_toggle:checked  ~ .login_panel {
  height: 15vh;
}

.ClientBill {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100vw;
  background: white;
}
.bill_title {
  width: 100%;
  height: 8vw;
  text-align: center;
  border-bottom: 1px solid gray;
}
.bill_title > label {
  float: left;
  margin-left: 3px;
}
.bill_title > label > img {
  margin-top: 1vw;
  width: 7vw;
  height: 7vw;
}
.bill_title > span {
  display: inline-block;
  padding-top: 1vw;
  font-size: 6vw;
  margin: 0 auto;
  transform: translateX(-35%);
}
.bill_info {
  width: 100%;
  height: 15vh;
  font-size: 3vh;
}
.lang {
  font-size: 3vh;
  width: 100%;
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}

.ClientFoodRemark,
.ClientComboChoice {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 100%;
  left: 0;
  overflow-y: scroll;
  background:whitesmoke;
  transition: top .3s;
  z-index: 5;
}
.ClientFoodRemarkActive, 
.ClientComboChoiceActive {
  top: 0;
}
.remark_title,
.choice_title {
  position: sticky;
  position: sticky;
  top: 0;
  height: 7vh;
  background: white;
  text-align: center;
}
.remark_title > *,
.choice_title > img {
  display: inline-block;
}
.remark_title > img,
.choice_title > img {
  margin-top: 1vw;
  margin-left: 1.5vw;
  width: 7vw;
  height: 7vw;
  float: left;
  transform: rotate(-90deg);
}
.remark_title > h1,
.choice_title > h1 {
  transform: translateX(-10%);
  font-size: 6vw;
}
.remark_img,
.choice_img {
  display: block;
  margin: 2vh auto;
}
.remark_food_name {
  font-size: 4vw;
  text-align: center;
}
.combo_food_li {
  width: 98%;
  margin: auto;
}
.combo_food_checkbox {
  display: inline;
  position: absolute;
  opacity: 0;
}
.inline {
  display: inline;
}
.combo_food_container {
  display: inline-block;
  border: 1px solid lightgray;
  width: 31%;
  height: 22vh;
  margin: 1vh 1vw;
}
.combo_food_image {
  width: 100%;
  height: 75%;
  border-bottom: 1px solid lightgray;
}
.combo_food_title {
  width: 96%;
  margin: 0 auto;
  height: 10%;
  font-size: 1.3vh;
  font-weight: bold;
  padding-bottom: 1px;
  padding-left: 1px;
  border-bottom: 1px solid lightgray;
  overflow: scroll;
}
.combo_food_price {
  width: 100%;
  height: 5%;
}
.combo_food_price span {
  padding-right: 5px;
  float: right;
  font-size: 1.5vh;
}
.combo_food_checkbox:checked ~ .combo_food_container {
  background: #EEE;
}
.bottom_btn {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 6vh;
  border: 0;
  background: red;
  color: white;
  font-size: 3vh;
}

@media only screen and (min-width: 780px) {
  .Client {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 75% 25%;
    grid-template-rows: 5% 10% 1fr;
    grid-template-areas:
      'top bill'
      'menu bill'
      'main bill';
    overflow: hidden;
  }
  #logo {
    width: 17vw;
    transform: translateX(-14%);
  }
  #side_btn {
    width: 4vw;
  }
  #side_toggle:checked ~ .ClientSide {
    width: 30%;
  }
  #side_toggle:checked ~ .ClientTop,
  #side_toggle:checked ~ .ClientMain,
  #side_toggle:checked ~ .ClientMenu,
  #side_toggle:checked ~ .cover,
  #side_toggle:checked ~ .ClientBill {
    transform: translateX(30vw);  
  }
  #side_logo {
    width: 10vw;
  }
  .ClientMenu > a > li > img {
    width: 3vw;
    height: 3vw;
  }
  .ClientMenu::-webkit-scrollbar { 
    display: none; 
  }
  .combo_container {
    width: 49%;
    height: 38vh;
  }
  #bill_btn {
    display: none;
  }
  .translateX-3 {
    transition: transform .35s;
  }
  .ClientBill {
    transition: transform .35s;
    position: unset;
    width: 100%;
    grid-area: bill;
  }
  .food_container {
    width: 24%;
  }
  .food_container option {
    display: block;
  }
  .bill_title {
    height: 4vw
  }
  .bill_title > label {
    display: none;
  }
  .bill_title > span {
    font-size: 3vh;
    transform: translateX(0%);
  }
  .bill_info {
    font-size: 1.5vh;
  }
}