<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Test</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    </head>
    <body>
        Content of the document
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://localhost:5000')
            socket.on('connect', function() {
                socket.send('User has connected!');
                socket.emit('joinRoom', {'user': 'S2','room':'R1'})
            });
            
            socket.on('message', function(msg) {
                console.log(msg);
            });

            socket.on('my message', msg => {
              console.log('My Message: '+msg)
            })

            const sendMessage = () => {
              socket.send('Hello!')
            }
            
            const sendMyMessage = () => {
              socket.emit('my message', 'Hello!')
            }

            const sendMyMessageToRoom = () => {
              socket.emit('my message to room', {'user': 'S1', 'room': 'R1', 'msg': 'Hello R1!'})
            }

            const joinRoom = (room) => {
              socket.emit('joinRoom', {'user': 'S2','room':'R1'})
            }
        </script>
    </body>
</html>
