<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update food</title>
</head>
<body>
    <form action="/admin_update" method="POST">
    <h1>UPDATED : {{ foodid }}</h1>
    {% for i in result %}
    <input type='hidden' name='id' value="{{ i.get('FOOD_ID') }}" />
    FOOD_Eng_name<input type="text" name="name" value="{{ i.get('FOOD_ENG_NAME') }}"><br>
    FOOD_CHI_name<input type="text" name="cname" value="{{ i.get('FOOD_CHI_NAME') }}"><br> 
    Price<input type="text" name="price" value="{{ i.get('FOOD_PRICE') }}"><br> 

    <img src="{{ url_for('static', filename='image/food/'+foodid+'.png') }}" /><br/> 
    <button type="submit" formaction="/admin_update">Update</button></form>
    {% endfor %}
</body>
</html>